# Lesson 11: SQL Part 2 Studio

> This studio asks you to create queries using the functions from this lesson. As you work through the studio, you may need to create more than one query to return the desired answer.  For others, you may need to combine functions together in order to answer the original query.  The questions have been organized in a way to help you puzzle out the answers.
> 
> Happy querying! 

**The Dataset:**   

> We will be working with the **BooksDB dataset** from Lesson 10.  You should already have access to it.

## The Questions:

1.  Create a query that returns the longest title in the dataset.  We can do this in two steps.

> A. Create a query that returns the length of the longest title.
> 
> B. Create a query that uses the length you found in step A to find the longest title.

In [3]:
SELECT MAX(LEN(title))
FROM BooksDB.dbo.books;

(No column name)
186

In [2]:
-- Code here:

SELECT title
FROM BooksDB.dbo.books
WHERE len(title) = (SELECT max(len(title)) from BooksDB.dbo.books);

title
"Soccernomics: Why England Loses, Why Germany and Brazil Win, and Why the U.S., Japan, Australia, Turkey--and Even Iraq--Are Destined to Become the Kings of the World's Most Popular Sport"

2.  Use what you learned in question 1 to find the shortest author name.  

> A. Create a query that returns the length of the shortest author.
> 
> B. Create a query that returns the shortest author's name.

In [4]:
-- Code here:
SELECT MIN(LEN(authors))
FROM BooksDB.dbo.books;

(No column name)
3

In [5]:
SELECT authors
FROM BooksDB.dbo.books
WHERE len(authors) = (SELECT min(len(authors)) from BooksDB.dbo.books);

authors
Avi
Avi

3\. How many titles contain the word "The"?  

  

> A. Is there a difference between the number of titles that use "The" or "the"?

In [10]:
-- Code here:
SELECT SUM(LEN('%the%'))
title
FROM BooksDB.dbo.books;

title
50000

In [11]:
SELECT SUM(LEN('%the'))
title
FROM BooksDB.dbo.books;

title
40000

In [12]:
SELECT SUM(LEN('the'))
title
FROM BooksDB.dbo.books;

title
30000

4.  How many authors' names _start_ with 'Z'?

In [13]:
-- Code here:
SELECT SUM(LEN('Z'))
authors
FROM BooksDB.dbo.books;

authors
10000

5\. How many books have been identified as printed in a language other than English?  There are four language codes for English: 'en', 'eng', 'en-US', and 'en-UK'.  Use LEFT to answer the question.  (Do not use the wildcard)

You might want to use one of these [comparison operators](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/comparison-operators-transact-sql?view=sql-server-ver15).

In [16]:
-- Code here:
SELECT SUM(LEN(language_code))
FROM BooksDB.dbo.books
WHERE language_code <> 'en'
AND language_code <> 'eng'
AND language_code <> 'en-US'
AND language_code <> 'en-UK';

(No column name)
2132

6\. Retry question 5 using SUBSTRING.

In [6]:
-- Code here:

7.  Create a column that returns the title, authors, and language codes.  Concatenate these elements so that they return in the following way: title by authors in language\_code language.

> A.  Check each selected column to see where any values are NULL.  Did any of the columns contain NULL values?  If so, which one?

In [24]:
-- Code here:
SELECT TOP 10 CONCAT(title, ' by ', authors, ' in ', language_code, ' language')
FROM BooksDB.dbo.books;

(No column name)
"The Hunger Games (The Hunger Games, #1) by Suzanne Collins in eng language"
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1) by J.K. Rowling, Mary GrandPré in eng language"
"Twilight (Twilight, #1) by Stephenie Meyer in en-US language"
To Kill a Mockingbird by Harper Lee in eng language
The Great Gatsby by F. Scott Fitzgerald in eng language
The Fault in Our Stars by John Green in eng language
The Hobbit by J.R.R. Tolkien in en-US language
The Catcher in the Rye by J.D. Salinger in eng language
"Angels & Demons (Robert Langdon, #1) by Dan Brown in en-CA language"
Pride and Prejudice by Jane Austen in eng language

8.  Update the query in question 7 using COALESCE to change the language code values from NULL to 'unknown'.

> A.  Has this changed the language\_code  where the values are NULL?

In [26]:
-- Code here:
SELECT COALESCE(NULL, unknown) + 'by' + authors + 'in' + language_code + 'language'
FROM BooksDB.dbo.books;

: Msg 207, Level 16, State 1, Line 2
Invalid column name 'unknown'.

9\. Revisit question 7 using ISNULL instead of COALESCE.

> A.  Has this changed the language\_code  where the values are NULL?

In [9]:
-- Code here: